/* CSS Document */
body{
    padding:0px;
    margin:0px;
    background:#ffffff;
    color:#000000;
    font-size:16px;
}
h2, h3, h4{
    color:#f40909;
}
p{
    color:#000000;
}
p a{
    color:#0000ff;
    text-decoration:underline;
}
ul{
    color:#000000;
    list-style-type:disc;
}

.clear{
    clear:both;
    margin:0px;
    height:0;
}

#container{
    text-align:left;
}

#header{
    width:800;
    height:140;
    margin:auto;
}
#header img#logo{
    float:left;
}
#header ul.menu{
    position:relative;
    top:80px;
}
#header ul.menu li{
    list-style-type:none;
    display:block;
    float:left;
    margin-right:10px; 
    background-image:url(images/menu-item-right.jpg);
    background-repeat:no-repeat;
    background-position:top right;
    background-color:#f40909;
}
#header ul.menu li a{
    float:left;
    padding:10;
    font-size:30;
    display:block;
    background-image:url(images/menu-item-left.jpg);
    background-repeat:no-repeat;
    background-position:top left;
    color:#ffffff;
    text-decoration:none;
}
#header ul.menu li a:hover{
    float:left;
    font-size:30;
    display:block;
    background-image:url(images/menu-item-left.jpg);
    background-repeat:no-repeat;
    background-position:top left;
    color:#000000;
    text-decoration:none;
}
#header ul.menu li.select{
    list-style-type:none;
    display:block;
    float:left;
    margin-right:10px; 
    background-image:none;
    background-color:#ffffff;
}
#header ul.menu li.select a{
    float:left;
    padding:10;
    font-size:30;
    display:block;
    background-image:none;
    color:#f40909;
    text-decoration:none;
}

#content{
    clear:both;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#main{
    width:550px;
    min-height:400px;
    float:left;
    margin:5px;
    text-align:left;
    color:#000000;
}
#main h2{
    margin:0 25px 0 0;
}
#main p.headline2{
    margin-bottom:15px;
}
#main ul{
    margin-left:1px;
}
#main ul li{
    padding:0 0 0 26px;
    margin-bottom:16px;
    min-height:18px
}
#main ul li a{
    color:#6c6c42;
    text-decoration:underline;
}
#main ul li a:hover{
    color:#000000;
    text-decoration:none;
}

#news {
    width:200px;
    float:left;
    margin:5;
    border:5 solid black;
    padding:10;
    text-align:left;
    color:#f40909;
}
#news h2{
    height:24px;
    position:relative;
    margin-bottom:10px;
}
#news p{
    margin-bottom:10px;
}
#news p.date{
    color:#c62201;
    padding-left:22px;
    background:url(../images/file.gif) 0 3px no-repeat;
    margin-bottom:5px;
}

#footer{
    clear:both;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color:#000000;
    font-size:12px;
}
#footer p{
    padding: 14px 0 0 0;
}
#footer p span{
}
#footer p a{
    text-decoration:underline;
    color:#0000ff;
    padding: 0 3px }
#footer p a:hover{
    text-decoration:underline;
}
#footer td{
    font-size:12px;
}
#footer td.c1{
    width:240px;
}
